[flake8]
exclude =
    .git
    __pycache__
    build
    dist
    examples
ignore =
    # https://flake8.pycqa.org/en/latest/user/error-codes.html
    # line break before binary operator
    W503,
    # space before colon
    E203,
statistics = True
