# python
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

__pycache__

# Pycharm
.idea

# misc msvs files
*.u2d
*.suo
*.user
*VC.db*
.vs/
prms_src/prms5.2.0_windows/msvs/x64/Debug/
prms_src/prms5.2.0_windows/msvs/x64/Release/
prms_src/prms5.3.0/msvs/x64/Debug/
prms_src/prms5.3.0/msvs/x64/Release/

# prms obj, mod, and library files
*.o
*.obj
*.mod
*.smod
*.lib
*.a

# meson build information
prms_src/prms5.3.0/builddir/


# prms binaries
prms_src/prms5.2.0_linux/bin
prms_src/prms5.2.0_windows/bin
prms_src/prms5.2.1/bin
prms_src/prms5.3.0/bin

# prms output files
output/
*.out
*.wbal
wbal.msgs

test_models/acfb_dyn_params
test_models/acfb_dyn_water_use
test_models/glacier_models
test_models/sagehen
test_models/sagehen_restart
test_models/Tazlina
test_models/ucb
test_models/ucb_daily_ag_frac
test_models/yampa


# emacs
*~

# pytest
autotest/pytest.xml
autotest/coverage.xml
autotest/codecov
autotest/.coverage
