# python
build/
*.egg-info/
*.pkl

# Jupyter Notebook
.ipynb_checkpoints

__pycache__

# Pycharm
.idea

# misc msvs files
*.u2d
*.suo
*.user
*VC.db*
.vs/
prms_src/prms5.2.1/msvs/x64/Debug/
prms_src/prms5.2.1/msvs/x64/Release/
prms_src/prms5.3.0/msvs/x64/Debug/
prms_src/prms5.3.0/msvs/x64/Release/

# prms obj, mod, and library files
*.o
*.obj
*.mod
*.smod
*.lib
*.a

# meson build information
prms_src/prms5.3.0/builddir/

# prms binaries
prms_src/prms5.2.1/bin
prms_src/prms5.3.0/bin

# prms output files
*.out
*.wbal
wbal.msgs
soltab_debug
output/

# emacs
*~

# pytest
autotest/pytest.xml
autotest/coverage.xml
autotest/codecov
autotest/.coverage
autotest/temp

# sphinx
generated/

# gis data
examples/pynhm_gis

# graphics
*.png
*.svg
*.jpg

# compressed/tarballs
*.gz
*.zip


# f2y detritus
*module.c
PRMS*.so
*f2pywrappers*.f*