PRMS 5
####
print_debug
1
1
0
####
mapOutON_OFF
1
1
0
####
nmapOutVars
1
1
1
####
mapOutVar_names
1
4
recharge
####
dprst_flag
1
1
1
####
parameter_check_flag
1
1
0
####
aniOutON_OFF
1
1
0
####
aniOutVar_names
2
4
tmaxf
tminf
####
ani_output_file
1
4
./output/animation.out
####
data_file
1
4
./input/data
####
dispGraphsBuffSize
1
1
365
####
dispVar_element
4
4
1
1
7
2
####
dispVar_names
4
4
seg_outflow
runoff
seg_outflow
runoff
####
dispVar_plot
4
1
1
1
2
2
####
et_module
1
4
climate_hru
####
executable_desc
1
4
PRMS 5.2.0
####
executable_model
1
4
../../bin/prms
####
initial_deltat
1
2
24
####
model_mode
1
4
PRMS5
####
model_output_file
1
4
./output/model.out
####
naniOutVars
1
1
2
####
ndispGraphs
1
1
2
####
param_file
1
4
./input/params
####
precip_module
1
4
climate_hru
####
solrad_module
1
4
climate_hru
####
srunoff_module
1
4
srunoff_smidx
####
start_time
6
1
1980
1
1
0
0
0
####
end_time
6
1
1999
12
31
0
0
0
####
nstatVars
1
1
5
####
statVar_element
5
4
7
1
1
2
1
####
statVar_names
5
4
seg_outflow
basin_potet
basin_swrad
runoff
basin_ppt
####
stat_var_file
1
4
./output/statvar
####
statsON_OFF
1
1
1
####
stats_output_file
1
4
./output/stats.out
####
strmflow_module
1
4
muskingum
####
temp_module
1
4
climate_hru
####
tmax_day
1
4
.\input\Tmax_1950-99.prms
####
tmin_day
1
4
.\input\Tmin_1950-99.prms
####
precip_day
1
4
.\input\Prcp_1950-99.prms
####
potet_day
1
4
.\input\Ptet_1950-99.prms
####
swrad_day
1
4
.\input\Orad_1950-99.prms
####
csvON_OFF
1
1
1
####
csv_output_file
1
4
./output/prms_summary.csv
####
nhruOutON_OFF
1
1
1
####
nhruOutVars
1
1
1
####
nhruOut_freq
1
1
3
####
nhruOutVar_names
1
4
hru_actet
####
nhruOutBaseFileName
1
4
output/nhru_summary_
####
prms_warmup
1
1
1
####
init_vars_from_file
1
1
0
####
var_init_file
1
4
init_vars
####
save_vars_to_file
1
1
0
####
var_save_file
1
4
./output/spin_up_1999_12_31_ic
####
external_transferON_OFF
1
1
1
####
external_transfer_file
1
4
./Input/sw_returns.wu
####
segment_transferON_OFF
1
1
1
####
segment_transfer_file
1
4
./Input/sw_withdrawals.wu
